<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Form Demo</title>
</head>
<body>
	<form th:action="@{/form}" th:object="${user}" method="post">
		<div>
			<label for="username">Username</label>
			<div>
				<input type="text" id="username" th:field="*{username}">
			</div>
			<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
		</div>
		<div>
			<label for="email">E-mail</label>
			<div>
				<input type="email" id="email" th:field="*{email}">
			</div>
			<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
		</div>
		<div>
			<input type="submit" value="Send">
		</div>
	</form>
</body>
</html>